<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buffet Login</title>
</head>
<body>
    
    <h1>Login agora</h1>
<form method="POST" action="/login">
  <input type="text" name="email" placeholder="Usuário" required />
  <input type="password" name="senha" placeholder="Senha" required />
  <button type="submit">Entrar</button>
</form>
    
</body>
</html>